.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* start header*/

.header .brand-logo {
  position: static;
  font-size: 1.5rem;
}

.header .currency-select {
  width: 120px;
}

.header .currency-select input.select-dropdown {
  margin: 0;
  color: #fff;
  border-bottom: 0;
}

.header .currency-select input.select-dropdown:focus {
  border-bottom: 0;
}

.header .currency-select .caret {
  fill: #fff;
}

/* end header */ ;
